<div class="row column text-center">
  <br />
  <h2>{{title}}</h2>
  <hr>
</div>
{{#if guilds}}
  <div class="row small-up-2 medium-up-3 large-up-6">
    {{#each guilds}}
      <div class="column">
        <a href="/guild/{{slug}}">
          <img class="thumbnail" width="400" height="300" src="{{image_url}}" alt="{{name}}'s Guild Image">
        </a>
        <h5>{{name}}</h5>
        <p>{{members.length}} members(s)</p>
        <a href="/guild/{{slug}}" class="button small expanded hollow">More Info</a>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="callout primary large-centered">
    <h5>No guilds yet :(</h5>
    <p><em>Be the first to <a href="/guild/create">create one!</a></em></p>
  </div>
{{/if}}
