<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
      <div class="row column">
        <br>
        <img class="thumbnail" src="{{profile.icon_url}}">
        <h5>{{profile.first_name}} {{profile.last_name}}</h5>
        <p>{{profile.bio}}</p>
      </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="my-info"></button>
          <span class="title-bar-title">{{profile.first_name}} {{profile.last_name}}</span>
        </div>
      </div>
      <div class="callout primary">
        <div class="row column">
          <h1>{{profile.profile_header}}</h1>
          <p class="lead">{{profile.extended_bio}}</p>
        </div>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4">
        {{#each user_projects}}
          <div class="column">
            <a href="/project/{{slug}}">
              <img height="550" width="550" class="thumbnail" src="{{logo_url}}">
            </a>
            <h5>{{name}}</h5>
          </div>
        {{else}}
          <div class="callout primary">
            <p><em>This user hasn't created any projects yet.</em></p>
          </div>
        {{/each}}
      </div>

      <hr>

      <div class="row">
        <div class="medium-6 columns">
          <h3>Contact Me</h3>
          <p>{{profile.contact_schedule}}</p>
          <ul class="menu">
            <li><a href="#"><i class="fa-brands fa-discord"></i>Discord</a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
            <li><a href="mailto:{{profile.contact_email}}"><i class="fa-regular fa-envelope"></i>Email</a></li>
          </ul>
        </div>
        <div class="medium-6 columns">
          <label>Subject
            <input type="text" placeholder="Subject">
          </label>
          <label>
            Message
            <textarea placeholder="Your message"></textarea>
          </label>
          <input type="submit" class="button expanded" value="Send">
        </div>
      </div>
    </div>
  </div>
</div>



